<body>
  <div class="center">
    <div class="inline-flexer">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Hello {{name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <md-list>
            <md-list-item><i class="fa fa-bomb" aria-hidden="true" style="margin-right:20px; color:#3F51B5"></i>   Num of mines: {{mines}} </md-list-item>
            <md-list-item> <i class="fa fa-flag" aria-hidden="true" style="margin-right:20px; color:#3F51B5"></i>   Num of flags: {{ board.mineNumber - board.flagNumber }} </md-list-item>

      </md-list>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <md-list-item *ngIf="board.gameOver"><i class="fa fa-frown-o" aria-hidden="true"></i> Game Over {{name}} </md-list-item>
            <md-list-item *ngIf="board.gameWon"><i class="fa fa-smile-o" aria-hidden="true"></i><h3> {{name}}, You win!</h3> </md-list-item>
            <md-list-item *ngIf="board.gameWon || board.gameOver"><h4> You clicked {{board.clickNumber}} times.</h4> </md-list-item>

         
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="backToStart()">
            <i class="material-icons" style="color:#3F51B5">replay</i>
          </button>
        </div>
      </div>

      <div class="flexer-content">
        <div class="game-board">
          <div *ngIf="!board.gameOver && !board.gameWon">
            <div *ngFor="let row of board.arrTile">
              <div class="game-row">
                <div *ngFor="let tile of row">
                  <div *ngIf="!tile.clicked" class="btn btn-default game-button"  (keypress)="eventHandler($event)" (mouseup)="mouseClick($event, tile)" (mousedown)="userClicking()">
                    <div *ngIf="tile.flagHere"><i class="fa fa-flag" aria-hidden="true"></i></div>
                    <div *ngIf="tile.questionCell"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                  </div>
                  <div *ngIf="tile.clicked" class="game-tile" (mouseup)="clickTile(tile)" (mousedown)="userClicking()">
                    <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
                    <div *ngIf="!tile.mineHere">
                      <p *ngIf="tile.mineNumber > 0">
                        {{tile.mineNumber}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="game-board">
          <div *ngIf="board.gameOver || board.gameWon">
            <div *ngFor="let row of board.arrTile">
              <div class="game-row">
                <div *ngFor="let tile of row">
                  <div *ngIf="!tile.clicked" class="btn btn-default game-button">
                    <div *ngIf="tile.flagHere"><i class="fa fa-flag" aria-hidden="true"></i></div>
                    <div *ngIf="tile.questionCell"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                  </div>

                  <div *ngIf="tile.clicked" class="game-tile">

                    <div *ngIf="!tile.gameEnder">
                      <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
                    </div>
                    <div *ngIf="tile.gameEnder">
                      <div class="end-bg">
                        <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
                      </div>
                    </div>

                    <div *ngIf="!tile.mineHere">
                      <p *ngIf="tile.mineNumber > 0">
                        {{tile.mineNumber}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
